:root {
    --font-advice: 'Manrope', 'sans-serif';
    --color-light: #cee3e9;
    --color-neon: #52ffa8;
    --color-neon-hover: #52ffa963;
    --color-one: #4e5d73;
    --color-two: #323a49;
    --color-three: #1f2632;
}